/* key points of project */

/* if you using position absolute the parent should be relative */


body
{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

nav{
    background-color: black;
    padding: 20px 50px;
}
/* 
to make item in line here we used flex in top nav */

.navTop
{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.limitedoffer
{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.search
{
display: flex;
align-items: center;
background-color: gray;
padding: 10px 20px ;
border-radius: 10px;
}

.searchinput
{
background-color: transparent;
border: none;
}

/* we have different psedo tags for forms and other operations */
.searchinput::placeholder
{
    color: white;
}

.navBottom
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem
{
    margin-right: 22px;
    cursor: pointer;
    font-weight:400;
    color: rgba(240, 255, 255, 0.637);
}

.menuItem:hover
{
    color: white;
}

/* here we are using clipper css website to make clips and convert them into shap  */
/* https://bennettfeely.com/clippy/ */
.slider{

    
    background: url('https://images.pexels.com/photos/4190917/pexels-photo-4190917.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    overflow: hidden;
    
    
}

.sliderWrapper
{
    display: flex;
    width:500vw;
    /* this animation apply over all childs and becasuse we used all keyword */
    transition: all 0.5s ease-in-out;
}

.sliderItem
{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.slideBg
{
width:700px;
height:700px;
border-radius: 50%;
position:absolute;


}

.sliderTitle
{
    position:absolute;
    top: 10%;
    right:10%;
    font-weight:900;
    text-align: center;
    font-size: 60px;
    z-index:1;
}

.sliderImg
{
    z-index:1;
}
.sliderPrice
{
    position:absolute;
    top: 10%;
    left:10%;
    font-weight:900;
    text-align: center;
    font-size: 60px;
}

.buyButton
{
    position:absolute;
    top: 50%;
    right:10%;
    font-weight:900;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    z-index:1;
    background-color: black;
    cursor: pointer;
}

.buyButton:hover
{
    background-color: white;
    color: black;
}
/* 
here we using nth child method to select values in css these all valus are sibbling and access by number only */
/* we can use number 
.sliderItem:nth-child(1)
even --> for even positions
odd --. for odd postions  */
.sliderItem:nth-child(1) .slideBg
{
    background-color: #8a8a72;
}
.sliderItem:nth-child(2) .slideBg
{
    background-color: #72868a;
}
.sliderItem:nth-child(3) .slideBg
{
    background-color: #4b5b4b;
}
.sliderItem:nth-child(4) .slideBg
{
    background-color: #ec9a3b;
}
.sliderItem:nth-child(5) .slideBg
{
    background-color: #654938;
}
/* s */

.features
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: gray;
}

.featureImg
{
    width:50px;
    height:50px ;
}

.feature
{
    display:flex;
    flex-direction: column;
text-align: center;
    align-items: center;
}

.featureTitle
{
    font-size: 20px;
    font-weight: 400px;
    margin-top: 30px;
    margin-bottom:0px;
    color: black;
}
.featureDesc
{
width: 100%;
height: 100px;
}